.project {
  display: flex;
  gap: var(--content-gap);
}

.project h4 {
  text-decoration: underline;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
}

.achievement {
  list-style: disc;
  margin-left: var(--text-gap);
}

.concepts {
  display: flex;
  gap: var(--text-gap);
  flex-wrap: wrap;
}

.concept {
  padding: var(--text-padding-small);
  background-color: var(--color-brand-1a);
  border-radius: var(--border-radius-rounded-corners);
}

.links {
  display: flex;
  gap: var(--text-gap);
}

.links a {
  color: white;
  padding: var(--text-padding-small);
  background-color: var(--color-brand-3a);
  border-radius: var(--border-radius-rounded-corners);
}

.links a:focus-visible {
  outline-offset: var(--focus-outline-offset);
}

.projectImg {
  border-radius: var(--border-radius-rounded-corners);
  background-color: var(--color-brand-1a);
  padding: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .links a:hover {
    background-color: var(--color-brand-3);
  }
}

@media screen and (min-width: 300px) {
  .project {
    flex-direction: column;
  }

  .project.inverted {
    flex-direction: column-reverse;
  }

  .projectImg {
    height: auto;
  }
}

@media screen and (min-width: 950px) {
  .project,
  .project.inverted {
    flex-direction: row;
  }

  .projectImg {
    height: 300px;
  }
}
