footer {
  padding: var(--section-padding);
  background-color: var(--color-brand-1a);
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-weight: bold;
}

footer .navLinks ul {
  display: flex;
  gap: var(--text-gap);
}

@media (hover: hover) and (pointer: fine) {
  footer a:hover {
    text-decoration: underline;
  }
}
