footer {
  padding: var(--section-padding);
  background-color: var(--color-brand-1a);
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-weight: bold;
}

footer .navLinks ul {
  display: flex;
  gap: var(--text-gap);
}

footer a:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
  border-radius: var(--border-radius-rounded-corners);
}

@media (hover: hover) and (pointer: fine) {
  footer a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 300px) {
  footer {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: var(--text-gap);
  }
}

@media screen and (min-width: 750px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
