/******************************************************************************/
/* Inspired by: https://www.joshwcomeau.com/css/custom-css-reset/
/******************************************************************************/

/* TODO: Add mobile responsiveness */

:root {
  --color-text: #000000;
  --color-brand-1: #f7e8d1;
  --color-brand-1a: #dbcab2;
  --color-brand-2: #aa6e41;
  --color-brand-3: #71492b;
  --color-brand-3a: #54371f;
  --text-gap: 1rem;
  --content-gap: 3rem;
  --section-gap: 5rem;
  --text-padding-small: 4px 12px;
  --section-padding: 2rem;
  --border-radius-rounded-corners: 0.5rem;
  --focus-outline: 2px solid var(--color-text);
  --focus-outline-offset: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-text);
  font-family: 'Inter', 'Open Sans', 'Source Sans 3', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
