.about {
  padding: var(--section-padding);
  display: flex;
  gap: var(--content-gap);
}

.about a {
  font-weight: bold;
}

.about a:hover {
  text-decoration: underline;
}

.about a:focus-visible {
  outline: var(--focus-outline);
  border-radius: var(--border-radius-rounded-corners);
}

.about h2 {
  font-size: 2rem;
}

.about h3 {
  font-size: 1.1rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
}

.skills {
  display: flex;
  gap: var(--text-gap);
  flex-wrap: wrap;
}

.skills li {
  padding: var(--text-padding-small);
  background-color: var(--color-brand-1a);
  border-radius: var(--border-radius-rounded-corners);
}

.authorImg {
  background-color: var(--color-brand-2);
  border-radius: 100%;
}

.divider {
  width: 300px;
  height: 1px;
  background-color: black;
  align-self: center;
}

@media screen and (min-width: 300px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .authorImg {
    width: 200px;
  }
}

@media screen and (min-width: 750px) {
  .about {
    flex-direction: row;
    align-items: flex-start;
  }

  .authorImg {
    width: 300px;
  }
}
