.allProjects {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: var(--text-gap);
}

.allProjects h2 {
  font-size: 2rem;
}

.allProjects h3 {
  font-size: 1.1rem;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

.callOut {
  text-align: center;
  margin-top: var(--section-gap);
  padding: var(--section-padding);
  background-color: var(--color-brand-1a);
  border-radius: var(--border-radius-rounded-corners);
}

.callOut a:focus-visible {
  outline: var(--focus-outline);
  border-radius: var(--border-radius-rounded-corners);
}

.divider {
  width: 300px;
  height: 1px;
  background-color: black;
  align-self: center;
}

@media (hover: hover) and (pointer: fine) {
  .callOut a:hover {
    text-decoration: underline;
  }
}
