header {
  padding: var(--section-padding);
  background-color: var(--color-brand-1a);
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1rem;
}

header .navLinks ul {
  display: flex;
  gap: var(--text-gap);
}

header a:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
  border-radius: var(--border-radius-rounded-corners);
}

@media (hover: hover) and (pointer: fine) {
  header a:hover {
    text-decoration: underline;
  }
}
