header {
  padding: var(--section-padding);
  background-color: var(--color-brand-1a);
  grid-row: 1 / 2;
  display: flex;
}

h1 {
  font-size: 1rem;
}

header .navLinks ul {
  display: flex;
  gap: var(--text-gap);
}

header a:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
  border-radius: var(--border-radius-rounded-corners);
}

@media (hover: hover) and (pointer: fine) {
  header a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 300px) {
  header {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: var(--text-gap);
  }
}

@media screen and (min-width: 750px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
